body
{
	font-family:Verdana, Helvetica, sans-serif;
	/*background:url("img/sky.jpg") repeat-x;
	background-attachment:fixed;
	background-position:center;
	background-size:contain;*/
	/*background: center repeat-x contain fixed url("img/sky.jpg");*/
	background:
		url("img/erba2.png") 100% 100% repeat-x fixed, 
		bottom url("img/sky.jpg") repeat-x fixed;
	background-color: #1d60a6;
}

#bodyWrap
{
	width:80%;
     height:80%;
     background:url("img/legno3.jpg");
     margin:0 auto;
     padding:2px;
	border-radius:1em;

	border-style:solid;
	background-size:cover;
}

.header
{
	background:
		url("img/babe_img.png") 10px 10px no-repeat,
		url("img/TextureLegno.jpg") repeat-x;
	background-size: 100px, 800px;
	background-position: bottom left;
	background-color: #c98542;
	font-size: 0.8em;
	margin: 0px;
	/*padding: 20px;
	padding-left: 90px;
	padding-bottom:5px;*/
	padding-top:20px;
	padding-bottom:0px;
	border-radius:1em;
	border-color:#330000;
	border-width:0px;
	border-style:solid;
}

.pathText
{
	font-size: 1em;
	background:url("img/legno_strano.jpg") repeat;
	background-size:contain;
	/*border-top-width:0px;
	border-style:solid;*/
	/*border-radius:0.8em;*/
	padding:5px;
	margin:0px;
	border-top-width: 2px;
	border-top-style: solid;
	text-align:center;
}

.headerTitle
{
	padding-left:100px;	
}

.footerText
{
	font-size: 1em;
	margin: 0px;
	padding: 10px;
	border-radius:0.8em;
}

#content
{
	height:350px;
	margin:10px;
	padding:10px;
	/*background: url("img/TextureLegno.jpg")repeat-x;*/
	background-color: rgba(255,255,255,0.3);
	background-attachment:fixed;
	background-position:center;
	border-radius:0.8em;

}

#foot
{
	background: 
		url("img/topini2.png") 100% 100% no-repeat,
		url("img/TextureLegno.jpg") repeat fixed;
	background-size:contain;
	border-radius:0.8em;
	border-color:#330000;
	border-width:2px;
	border-style:solid;
	padding:2%;
	text-align:center;
}
