body
{
	font-family:Verdana, Helvetica, sans-serif;
	background:
		url("img/erba2.png") 100% 100% repeat-x fixed, 
		bottom url("img/cielo_2.jpg") fixed;
	background-color: #1d60a6;
}

#bodyWrap
{
	width:80%;
     height:80%;
     background:url("img/legno3.jpg");
     margin:0 auto;
     padding:0.3%;
	border-radius:1em;
	border-style:solid;
	background-size:cover;
	box-shadow: 10px 20px 0px rgba(10,10,10,0.3);
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
   /*zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#header
{
	background:
		url("img/babe_img.png") 10px 10px no-repeat,
		url("img/TextureLegno.jpg") repeat-x;
	background-size: 100px, 800px;
	background-position: bottom left;
	background-color: #c98542;
	font-size: 0.8em;
	margin: 0px;
	/*padding: 20px;
	padding-left: 90px;
	padding-bottom:5px;*/
	padding-top:20px;
	padding-bottom:0px;
	border-radius:1em;
	border-color:#330000;
	border-width:0px;
	border-style:solid;
}

#header p
{
	font-size:1.5em;
	background:url("img/legno_strano.jpg") repeat;
	background-size:contain;
	padding:5px;
	margin:0px;
	border-top-width: 2px;
	border-top-style: solid;
	text-align:center;
}

#header h1
{
	padding-left:100px;	
}

#content
{
	height:350px;
	width:50%;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	background-color:rgba(255,255,255,0.3);
	border-bottom-left-radius:0.8em;
	border-bottom-right-radius:0.8em;
}

#nav
{
	float:left;
	width:20%;
	padding:10px;
	padding-right:0px;
	margin-top:10px;
	margin-left:10px;
	background-color:rgba(255,255,255,0.3);
	border-top-left-radius:0.8em;
	border-right-width:2px;
	border-right-style:solid;
}

#rss
{
	float:right;
	width:20%;
	height:70px;
	margin-top:10px;
	margin-right:10px;
	padding:10px;
	padding-right:0px;
	background-color:rgba(255,255,255,0.3);
	border-top-right-radius:0.8em;
	border-left-width:2px;
	border-left-style:solid;
}

#foot
{
	clear: both;
	background: 
		url("img/topini2.png") 100% 100% no-repeat,
		url("img/TextureLegno.jpg") repeat fixed;
	background-size:contain;
	border-radius:0.8em;
	border-color:#330000;
	border-width:2px;
	border-style:solid;
	padding:2%;
	text-align:center;
}

#foot p
{
	display:inline;
}

span.inglese {
  font-style: italic;
}
