body
{
	font-family:Verdana, Helvetica, sans-serif;
	background:
		url("img/erba2.png") 100% 100% repeat-x fixed, 
		bottom url("img/cielo_2.jpg") fixed;
	background-color: #1d60a6;
}

#bodyWrap
{
	width:80%;
     background:url("img/legno3.jpg");
     margin:0 auto;
     padding:0.3%;
	border-radius:1em;
	border-style:solid;
	background-size:cover;
}

.group:before,
.group:after {
    content:"";
    display:table;
} 
.group:after {
    clear: both;
}
.group {
   /*zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#header
{
	background:
		url("img/babe_img.png") bottom left no-repeat,
		url("img/TextureLegno.jpg") repeat-x;
	background-size: 100px, 800px;
	background-color: #c98542;
	font-size:0.8em;
	padding-top:20px;
	padding-bottom:0;
	border-radius:1em;
	border: 0 solid #330000;
}

#header p
{
	font-size:1.5em;
	background:url("img/legno_strano.jpg") repeat ;
	background-size:contain;
	padding:5px;
	margin:0;
	border-top: 2px solid;
	text-align:center;
}

#header h1
{
	padding-left:100px;	
}

#content
{
	width:50%;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	background-color:rgba(255,255,255,0.3);
	border-bottom-left-radius:0.8em;
	border-bottom-right-radius:0.8em;
}

#nav
{
	float:left;
	width:20%;
	padding:10px;
	padding-right:0;
	margin-top:10px;
	margin-left:10px;
	background-color:rgba(255,255,255,0.3);
	border-top-left-radius:0.8em;
	border-right:2px solid;
}

#nav ul
{
	list-style-type: none;
	padding:0;
	margin:10px;
	margin-right:0;
}

#nav li
{
	padding-bottom:2px;
}

#nav li:hover
{
	background:url("img/white_mouse.png") 5px 8px no-repeat;
	background-size:30px;
	background-color:rgba(255,255,255,0.3);
	border-top-left-radius:0.8em;
	border-bottom-left-radius:0.8em;
	padding:14px; 
	padding-left:40px;
}

#rss
{
	float:right;
	width:20%;
	height:70px;
	margin-top:10px;
	margin-right:10px;
	padding:10px;
	padding-right:0px;
	background-color:rgba(255,255,255,0.3);
	border-top-right-radius:0.8em;
	border-left:2px solid;
}

#foot
{
	clear: both;
	background: 
		url("img/topini2.png") 100% 100% no-repeat,
		url("img/TextureLegno.jpg") repeat fixed;
	background-size:contain;
	border-radius:0.8em;
	border:2px solid #330000;
	padding:2%;
	text-align:center;
}

#foot p
{
	display:inline;
}

span.inglese {
	font-style:italic;
}

#personaggi {
	list-style:none;
	padding:0;
}

#personaggi img {
	padding:1em;
	float:right;
	width:20%;
}
