body
{
	margin:0;
}

#bodyWrap
{
	width:100%;
	border-radius:0;
	border:none;
	margin:0;
	padding:0;
}

#content
{
	clear:both;
	width:95%;
	margin: 5px 1%;
	padding-right: 1%;
}

#nav
{
	clear:both;
	float:none;
	width:95%;
	margin:5px 1%;
	padding-right: 2%;
	border-top-right-radius:0.8em;
}

